/*fonts quienes somos*/
main .fontquien {
    color: $color-secundario;
    background-color: $color-primario;
    font-family: "Kanit";
    text-align: justify;
    font-size: 20px;
    text-decoration: none;
    padding: 30px 20px;
}


/*fonts derecho privado*/

.descripcion {
    color: $color-secundario;
    background-color: $color-primario;
    font-family: "Kanit";
    text-align: justify;
    font-size: 20px;
    text-decoration: none;
    padding: 30px 10px;
  
}