/*fonts quienes somos*/
main .fontquien {
    color: rgb(175, 171, 171);
    background-color: mediumblue;
    font-family: "Kanit";
    text-align: justify;
    font-size: 20px;
    text-decoration: none;
    padding: 30px 20px;
}


/*fonts derecho privado*/

.descripcion {
    color: rgb(175, 171, 171);
    background-color: mediumblue;
    font-family: "Kanit";
    text-align: justify;
    font-size: 20px;
    text-decoration: none;
    padding: 30px 10px;
  
}