/*mapa donde encontrarnos*/

.formulario-mapa {
    background-color: rgb(208, 214, 214);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    display: flex;
    align-items: end;
    padding: 30px 20px;

}

main .map {
    text-align: end;
    margin-right: 50px;
   
}
 


.citas {
    background-color: rgb(208, 214, 214);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

@media only screen and (max-width: 425px) {
    .citas {
        display: flex;
        flex-direction: column;
        
    }

    .formulario-mapa {
        display: flex;  
        flex-direction: column;
        position: relative;
    }
}

@media only screen and (min-width: 426px) and (max-width: 576px) {
    .citas {
        display: flex;
        flex-direction: column;
        
    }

    .formulario-mapa {
        display: flex;  
        flex-direction: column;
        position: relative;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .citas {
        display: flex;
        flex-direction: column;
        
    }

    .formulario-mapa {
        display: flex;  
        flex-direction: column;
        position: relative;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .citas {
        display: flex;
        flex-direction: column;
        
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .citas {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1700px) {
    .citas {
        padding-right: 10px;
    }
}