@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pacifico&display=swap");
* {
  margin: 0px;
  box-sizing: 0px;
  padding: 0px;
  background-color: #c9c9c9;
}

main {
  background-color: mediumblue;
}

.contenedor-header {
  display: flex;
  align-items: center;
  background-color: mediumblue;
  justify-content: space-between;
  position: relative;
}

.banner {
  text-align: start;
  width: 50%;
}

.Titulo {
  font-family: "kanit";
  font-style: italic;
  font-weight: 900;
  font-size: 70px;
  text-align: center;
  color: mediumblue;
  background: #afadad;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

@media only screen and (max-width: 425px) {
  .contenedor-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: mediumblue;
    justify-content: space-between;
    position: relative;
  }
  .banner {
    text-align: start;
    width: 85%;
  }
  .Titulo {
    font-family: "kanit";
    font-style: italic;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    color: mediumblue;
    background: #afadad;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  }
}
@media only screen and (min-width: 426px) and (max-width: 576px) {
  .contenedor-header {
    display: flex;
    align-items: center;
    background-color: mediumblue;
    justify-content: space-between;
    position: relative;
  }
  .banner {
    text-align: start;
    width: 90%;
  }
  .Titulo {
    font-family: "kanit";
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    color: mediumblue;
    background: #afadad;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .contenedor-header {
    display: flex;
    align-items: center;
    background-color: mediumblue;
    justify-content: space-between;
    position: relative;
  }
  .banner {
    text-align: start;
    width: 50%;
  }
  .Titulo {
    font-family: "kanit";
    font-style: italic;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: mediumblue;
    background: #afadad;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .contenedor-header {
    display: flex;
    align-items: center;
    background-color: mediumblue;
    justify-content: space-between;
    position: relative;
  }
  .banner {
    text-align: start;
    width: 50%;
  }
  .Titulo {
    font-family: "kanit";
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    color: mediumblue;
    background: #afadad;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .contenedor-header {
    display: flex;
    align-items: center;
    background-color: mediumblue;
    justify-content: space-between;
    position: relative;
  }
  .banner {
    text-align: start;
    width: 50%;
  }
  .Titulo {
    font-family: "kanit";
    font-style: italic;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    color: mediumblue;
    background: #afadad;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .contenedor-header {
    display: flex;
    align-items: center;
    background-color: mediumblue;
    justify-content: space-between;
    position: relative;
  }
  .banner {
    text-align: start;
    width: 50%;
  }
  .Titulo {
    font-family: "kanit";
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    color: mediumblue;
    background: #afadad;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1700px) {
  .contenedor-header {
    display: flex;
    align-items: center;
    background-color: mediumblue;
    justify-content: space-between;
    position: relative;
  }
  .banner {
    text-align: start;
    width: 50%;
  }
  .Titulo {
    font-family: "kanit";
    font-style: italic;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    color: mediumblue;
    background: #afadad;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  }
}
.links-nav {
  background-color: mediumblue;
  text-align: end;
  list-style-type: none;
  right: 8%;
  position: absolute;
}

header ul {
  background-color: mediumblue;
  list-style-type: none;
  display: flex;
  gap: 80px;
}
header ul li {
  background-color: mediumblue;
}
header ul a {
  text-decoration: none;
  background-color: mediumblue;
  color: #ada6a6;
}

.unlist :active {
  color: rgb(152, 152, 152);
}

.unlist :visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.unlist :hover {
  color: rgb(25, 236, 247);
}

.icono-menu {
  display: none;
  color: rgb(152, 152, 152);
  font-size: 24px;
  background-color: mediumblue;
  margin-right: 10px;
}

@media only screen and (max-width: 425px) {
  .links-nav {
    width: 150px;
    height: 100vh;
    font-size: 9px;
    background-color: mediumblue;
    display: flex;
    text-align: end;
    display: block;
    z-index: 1;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border: solid 2px;
    border-color: #ada6a6;
    right: 200vh;
    top: 0vh;
    border-radius: 5px;
  }
  .icono-menu {
    font-size: 28px;
    display: block;
    position: absolute;
    right: 2px;
  }
  .icono-menu:hover + .links-nav {
    right: 0px;
  }
  .links-nav:hover {
    right: 0px;
  }
  header ul {
    display: flex;
    gap: 80px;
    flex-direction: column;
    color: mediumblue;
    padding-top: 40px;
  }
}
@media only screen and (min-width: 426px) and (max-width: 576px) {
  .links-nav {
    width: 150px;
    height: 100vh;
    font-size: 9px;
    background-color: mediumblue;
    display: flex;
    text-align: end;
    display: block;
    z-index: 1;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border: solid 2px;
    border-color: #ada6a6;
    right: 200vh;
    top: 0vh;
    border-radius: 5px;
  }
  .icono-menu {
    display: block;
    font-size: 32px;
  }
  .icono-menu:hover + .links-nav {
    right: 0px;
  }
  .links-nav:hover {
    right: 0px;
  }
  header ul {
    display: flex;
    gap: 80px;
    flex-direction: column;
    color: mediumblue;
    padding-top: 40px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .links-nav {
    width: 37%;
    font-size: 8px;
    text-align: end;
    display: flex;
    position: absolute;
  }
  header ul {
    display: flex;
    gap: 37px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .links-nav {
    width: 38%;
    font-size: 9px;
    text-align: end;
    display: flex;
    position: absolute;
  }
  header ul {
    display: flex;
    gap: 60px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .links-nav {
    width: 34%;
    font-size: 10px;
    text-align: end;
    display: flex;
    position: absolute;
  }
  header ul {
    display: flex;
    gap: 60px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1700px) {
  .links-nav {
    width: 35%;
    font-size: 12px;
    text-align: end;
    display: flex;
    position: absolute;
  }
  header ul {
    display: flex;
    gap: 80px;
    justify-content: space-evenly;
  }
}
.barralateral {
  display: flex;
  align-items: center;
  background-color: mediumblue;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
}

.links-externos {
  background-color: mediumblue;
  gap: 80px;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 80px;
  margin-left: -15px;
  border: 0px;
}
.links-externos li {
  background-color: mediumblue;
  padding-bottom: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 700;
  border: 0px;
}
.links-externos a {
  background-color: mediumblue;
  text-decoration: none;
  color: #c9c9c9;
}

@media only screen and (max-width: 425px) {
  .barralateral {
    flex-direction: column-reverse;
  }
  .links-externos {
    display: flex;
    flex-wrap: initial;
    background-color: mediumblue;
    margin-top: 10px;
    gap: 10px;
    padding-left: 10px;
  }
  .links-externos li {
    padding-bottom: 10px;
  }
  .links-externos a {
    font-size: 9px;
  }
}
@media only screen and (min-width: 426px) and (max-width: 576px) {
  .barralateral {
    flex-direction: column-reverse;
  }
  .links-externos {
    display: flex;
    background-color: mediumblue;
    flex-wrap: initial;
    margin-top: 10px;
    gap: 5px;
  }
  .links-externos li {
    padding-bottom: 10px;
  }
  .links-externos a {
    font-size: 9px;
    padding-left: 20px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .barralateral {
    height: 320px;
    margin-bottom: 10px;
  }
  .links-externos {
    background-color: mediumblue;
    height: 300px;
    margin-top: 10px;
    margin-left: 0px;
    padding-bottom: 0px;
  }
  .links-externos li {
    padding-bottom: 45px;
  }
  .links-externos a {
    font-size: 11px;
    padding-left: 10px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .barralateral {
    height: 420px;
  }
  .links-externos {
    background-color: mediumblue;
    height: 370px;
    margin-left: 0px;
    margin-top: 50px;
  }
  .links-externos li {
    padding-bottom: 55px;
  }
  .links-externos a {
    font-size: 14px;
    padding-left: 10px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .links-externos {
    margin-top: 60px;
    background-color: mediumblue;
  }
  .links-externos a {
    font-size: 14px;
    padding-left: 20px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1700px) {
  .links-externos {
    background-color: mediumblue;
  }
  .links-externos a {
    font-size: 18px;
    padding-left: 20px;
  }
}
/*imagen principal archivo index*/
.foto-principal {
  text-align: start;
  width: 85%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*imagen principal quienes somos*/
.imagenquienesomos {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*imagen principal derecho privado*/
.img-privada {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*imagen principal derecho familia*/
.img-familia {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*foto principal derecho penal*/
.img-penal {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 425px) {
  .foto-principal {
    width: 99%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 20px;
  }
  .img-privada {
    width: 100%;
    height: 200px;
  }
  .img-penal {
    width: 100%;
    height: 200px;
  }
  .img-familia {
    width: 100%;
    height: 200px;
  }
  .imagenquienesomos {
    width: 100%;
    height: 200px;
  }
}
@media only screen and (min-width: 426px) and (max-width: 576px) {
  .foto-principal {
    width: 99%;
    height: 300px;
    margin-bottom: 20px;
  }
  .img-privada {
    width: 100%;
    height: 200px;
  }
  .img-penal {
    width: 100%;
    height: 200px;
  }
  .img-familia {
    width: 100%;
    height: 200px;
  }
  .imagenquienesomos {
    width: 100%;
    height: 200px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .foto-principal {
    width: 80%;
    height: 300px;
  }
  .img-privada {
    width: 100%;
    height: 200px;
  }
  .img-penal {
    width: 100%;
    height: 200px;
  }
  .img-familia {
    width: 100%;
    height: 200px;
  }
  .imagenquienesomos {
    width: 100%;
    height: 200px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .foto-principal {
    width: 80%;
    height: 400px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .foto-principal {
    width: 80%;
    height: 500px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1700px) {
  .foto-principal {
    width: 80%;
    height: 500px;
  }
}
/*fonts quienes somos*/
main .fontquien {
  color: rgb(175, 171, 171);
  background-color: mediumblue;
  font-family: "Kanit";
  text-align: justify;
  font-size: 20px;
  text-decoration: none;
  padding: 30px 20px;
}

/*fonts derecho privado*/
.descripcion {
  color: rgb(175, 171, 171);
  background-color: mediumblue;
  font-family: "Kanit";
  text-align: justify;
  font-size: 20px;
  text-decoration: none;
  padding: 30px 10px;
}

/* secciones de las ramas a consultar */
.secciones {
  display: flex;
  width: 100%;
  height: 600px;
  background-color: mediumblue;
  margin-top: 10px;
}
.secciones p {
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.seccion {
  width: 30%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-block-start: 10px;
  background-color: #c9c9c9;
  border-radius: 10px;
  overflow-y: hidden;
  padding-bottom: 500px;
}

.boton-consulta {
  width: 100px;
  height: 40px;
  color: #c9c9c9;
  background-color: mediumblue;
  display: inline-block;
  font-size: 14px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 40%;
  position: absolute;
  bottom: 5%;
}

.texto-seccion {
  margin: 10px;
  width: 95%;
  height: 70%;
  overflow-y: hidden;
  display: flex;
  position: absolute;
  bottom: 20%;
}

/*quienes somos*/
.fontquien h3 {
  background-color: mediumblue;
  font-size: 32px;
}
.fontquien p {
  background-color: mediumblue;
  font-size: 28px;
}

/*consulta-privada*/
.descripcion {
  background-color: mediumblue;
}
.descripcion h3 {
  background-color: mediumblue;
  font-size: 28px;
}
.descripcion p {
  background-color: mediumblue;
  font-size: 24px;
}

@media only screen and (max-width: 425px) {
  .seccion-aranceles {
    display: flex;
    flex-direction: column;
  }
  .secciones {
    display: flex;
    flex-direction: column;
    width: 99%;
    justify-content: center;
    align-content: center;
    height: 1600px;
  }
  .seccion {
    width: 80%;
    height: 30%;
    position: relative;
  }
  .seccion p {
    font-size: 14px;
  }
  /*quienes somos*/
  .fontquien h3 {
    background-color: mediumblue;
    font-size: 18px;
  }
  .fontquien p {
    background-color: mediumblue;
    font-size: 14px;
  }
  .descripcion {
    background-color: mediumblue;
  }
  .descripcion h3 {
    background-color: mediumblue;
    font-size: 18px;
  }
  .descripcion p {
    background-color: mediumblue;
    font-size: 14px;
  }
  .boton-consulta {
    position: absolute;
    right: 30%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 576px) {
  .seccion-aranceles {
    display: flex;
    flex-direction: column;
  }
  .secciones {
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 1600px;
  }
  .seccion {
    width: 89%;
    height: 30%;
  }
  .fontquien h3 {
    background-color: mediumblue;
    font-size: 18px;
  }
  .fontquien p {
    background-color: mediumblue;
    font-size: 14px;
  }
  .descripcion {
    background-color: mediumblue;
  }
  .descripcion h3 {
    background-color: mediumblue;
    font-size: 20px;
  }
  .descripcion p {
    background-color: mediumblue;
    font-size: 16px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .seccion-aranceles {
    display: flex;
    flex-direction: column;
  }
  .secciones {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 1600px;
  }
  .seccion {
    width: 92%;
  }
  .fontquien h3 {
    background-color: mediumblue;
    font-size: 20px;
  }
  .fontquien p {
    background-color: mediumblue;
    font-size: 16px;
  }
  .descripcion {
    background-color: mediumblue;
  }
  .descripcion h3 {
    background-color: mediumblue;
    font-size: 22px;
  }
  .descripcion p {
    background-color: mediumblue;
    font-size: 18px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .seccion-aranceles {
    display: flex;
    flex-direction: column;
  }
  .secciones {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 1600px;
  }
  .seccion {
    width: 93%;
  }
  .seccion h3 {
    font-size: 28px;
  }
  .seccion .seccion p {
    font-size: 24px;
  }
  .fontquien h3 {
    background-color: mediumblue;
    font-size: 22px;
  }
  .fontquien p {
    background-color: mediumblue;
    font-size: 18px;
  }
  .descripcion {
    background-color: mediumblue;
  }
  .descripcion h3 {
    background-color: mediumblue;
    font-size: 24px;
  }
  .descripcion p {
    background-color: mediumblue;
    font-size: 20px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .seccion-aranceles {
    display: flex;
    flex-direction: column;
  }
  .secciones {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-content: center;
  }
  .seccion {
    width: 30%;
  }
  .seccion h3 {
    font-size: 24px;
  }
  .seccion p {
    font-size: 14px;
  }
  .fontquien h3 {
    background-color: mediumblue;
    font-size: 24px;
  }
  .fontquien p {
    background-color: mediumblue;
    font-size: 20px;
  }
  .descripcion {
    background-color: mediumblue;
  }
  .descripcion h3 {
    background-color: mediumblue;
    font-size: 24px;
  }
  .descripcion p {
    background-color: mediumblue;
    font-size: 20px;
  }
  .boton-consulta {
    position: absolute;
    right: 30%;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1700px) {
  .seccion-aranceles {
    display: flex;
    flex-direction: column;
  }
  .secciones {
    display: flex;
    width: 100%;
    height: 4 0px;
  }
  .seccion {
    display: flex;
    position: relative;
  }
  .seccion h3 {
    font-size: 24px;
  }
  .seccion p {
    font-size: 16px;
  }
  .fontquien h3 {
    background-color: mediumblue;
    font-size: 28px;
  }
  .fontquien p {
    background-color: mediumblue;
    font-size: 24px;
  }
  .descripcion {
    background-color: mediumblue;
  }
  .descripcion h3 {
    background-color: mediumblue;
    font-size: 26px;
  }
  .descripcion p {
    background-color: mediumblue;
    font-size: 22px;
  }
  .boton-consulta {
    position: absolute;
    right: 35%;
  }
}
.seccion-aranceles {
  background-color: mediumblue;
  padding-left: 20px;
}

.precios-consulta {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: mediumblue;
  color: #cccccd;
  font-size: 32px;
}

.aranceles {
  background-color: mediumblue;
}
.aranceles ul {
  background-color: mediumblue;
}
.aranceles li {
  margin-top: 10px;
  padding-bottom: 40px;
  color: #cccccd;
  background-color: mediumblue;
  list-style-type: none;
  font-size: 18px;
}

@media only screen and (max-width: 425px) {
  .precios-consulta {
    width: 80%;
    color: #cccccd;
    background-color: mediumblue;
    padding-top: 20px;
  }
  .aranceles {
    display: inline-block;
    background-color: mediumblue;
  }
  .aranceles h3 {
    font-size: 24px;
  }
  .aranceles li {
    font-size: 14px;
  }
  .aranceles ul {
    background-color: mediumblue;
  }
}
@media only screen and (min-width: 426px) and (max-width: 576px) {
  .aranceles {
    display: inline-block;
  }
  .aranceles h3 {
    font-size: 24px;
  }
  .aranceles li {
    font-size: 14px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .aranceles {
    display: inline-block;
  }
  .aranceles h3 {
    font-size: 26px;
  }
  .aranceles li {
    font-size: 16px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .aranceles {
    display: inline-block;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .aranceles {
    display: inline-block;
  }
  .aranceles h3 {
    font-size: 32px;
  }
  .aranceles li {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1700px) {
  .aranceles {
    display: inline-block;
  }
  .aranceles h3 {
    font-size: 32px;
  }
  .aranceles li {
    font-size: 18px;
  }
}
/*mapa donde encontrarnos*/
.formulario-mapa {
  background-color: #c9c9c9;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  display: flex;
  align-items: end;
  padding: 30px 20px;
}

.map {
  text-align: center;
  margin-right: 0px;
  background-color: mediumblue;
}
.map h3 {
  background-color: mediumblue;
  color: #c9c9c9;
}

.citas {
  background-color: #c9c9c9;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
}

.encontranos {
  justify-content: center;
}

#fecha {
  background-color: white;
}

#nombre {
  background-color: white;
}

#telefono {
  background-color: white;
}

#email {
  background-color: white;
}

#consulta {
  background-color: white;
}

#select-rama {
  background-color: white;
}

@media only screen and (max-width: 425px) {
  .citas {
    display: flex;
    flex-direction: column;
  }
  .formulario-mapa {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .mapa {
    width: 250px;
    height: 150px;
  }
  .img-map {
    width: 300px;
    height: 200px;
  }
  .recorda {
    font-size: 16px;
  }
  .map-privado {
    width: 300px;
    height: 200px;
  }
}
@media only screen and (min-width: 426px) and (max-width: 576px) {
  .citas {
    display: flex;
    flex-direction: column;
  }
  .formulario-mapa {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .mapa {
    width: 300px;
    height: 200px;
  }
  .img-map {
    width: 300px;
    height: 200px;
  }
  .recorda {
    font-size: 16px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .citas {
    display: flex;
    flex-direction: column;
  }
  .formulario-mapa {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .mapa {
    width: 350px;
    height: 250px;
  }
  .img-map {
    width: 300px;
    height: 200px;
  }
  .recorda {
    font-size: 18px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .citas {
    display: flex;
    flex-direction: column;
  }
  .recorda {
    font-size: 18px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .citas {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1700px) {
  .citas {
    padding-right: 10px;
  }
  .fontquien h3 {
    background-color: mediumblue;
    font-size: 24px;
  }
  .fontquien p {
    background-color: mediumblue;
    font-size: 20px;
  }
}
.Redes h4 {
  background-color: #d8d3d3;
  margin-top: 10px;
}
.Redes ul {
  list-style-type: none;
}

.imagen-whatsapp {
  width: 50px;
  padding-right: 40px;
}

.imagen-face {
  width: 50px;
}

.imagen-ig {
  width: 55px;
}

.imagen-gmail {
  display: flex;
  width: 50px;
}

footer ul {
  display: flex;
  justify-content: space-around;
  margin-right: 30px;
}

.li-redes {
  position: relative;
  justify-content: center;
  width: 80px;
}

.li-a {
  flex-direction: column;
  position: absolute;
  top: 10px;
  justify-content: center;
}

/*footer de quienes somos*/
.footer-color {
  background-color: #d8d3d3;
}

@media only screen and (max-width: 425px) {
  .imagen-whatsapp {
    width: 30px;
  }
  .imagen-face {
    width: 30px;
  }
  .imagen-ig {
    width: 35px;
  }
  .imagen-gmail {
    width: 30px;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    margin-right: 0px;
    margin-left: 20px;
  }
  footer a {
    font-size: 13px;
  }
}
.container-boton {
  position: fixed;
  z-index: 10;
  border-radius: 50%;
  bottom: 20px;
  right: 10px;
  transition: ease 0.3s;
}
.container-boton a {
  border: solid white 1px;
  border-radius: 60%;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
}

.container-boton :hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.boton-wsp {
  width: 100px;
  transition: ease 1s;
  border-radius: 50%;
  right: -50px;
}

@media only screen and (max-width: 425px) {
  .boton-wsp {
    width: 50px;
    transition: ease 1s;
  }
  .container-boton {
    position: fixed;
    z-index: 100;
    border-radius: 60%;
    bottom: 80px;
    right: 15px;
    transition: ease 0.3s;
  }
}
@media only screen and (min-width: 426px) and (max-width: 576px) {
  .boton-wsp {
    width: 50px;
    transition: ease 1s;
  }
  .container-boton {
    position: fixed;
    z-index: 100;
    border-radius: 60%;
    bottom: 20px;
    right: 15px;
    transition: ease 0.3s;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .boton-wsp {
    width: 50px;
    transition: ease 1s;
  }
  .container-boton {
    position: fixed;
    z-index: 100;
    border-radius: 60%;
    bottom: 20px;
    right: 15px;
    transition: ease 0.3s;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .boton-wsp {
    width: 50px;
    transition: ease 1s;
  }
  .container-boton {
    position: fixed;
    z-index: 100;
    border-radius: 60%;
    bottom: 20px;
    right: 15px;
    transition: ease 0.3s;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .boton-wsp {
    width: 70px;
    transition: ease 1s;
  }
  .container-boton {
    position: fixed;
    z-index: 100;
    border-radius: 60%;
    bottom: 20px;
    right: 15px;
    transition: ease 0.3s;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1700px) {
  .boton-wsp {
    width: 70px;
    transition: ease 1s;
  }
  .container-boton {
    position: fixed;
    z-index: 100;
    border-radius: 60%;
    bottom: 20px;
    right: 15px;
    transition: ease 0.3s;
  }
}/*# sourceMappingURL=style.css.map */